<style>
  form {
    border: 3px solid #0c0c0c;
    border-radius: 30px;
    width: 40%;
    display: inline-block;
  }

  body {
    text-align: center;
    background-color: aliceblue;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }


  button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  }

  a.button:hover {
    opacity: 0.8;
  }


  h1 {
    font-size: 55px;
    font-style: normal;
    text-align: center;
  }

</style>

{% block content %}
<h1>Sign Up</h1>
  <div id="main_form_area">
    <p>please fill-in your information</p>
    {% if notice %}
      <p>{{notice}}<br>{{action}}</p>
    {% endif %}
    <form action="../create_user/" method="post">
      {% csrf_token %}
      <label for="first_name">First Name</label>
      <br>
      <input type="text" id="first_name" name="first_name">
      <br>
      <label for="last_name">Last Name</label>
      <br>
      <input type="text" id="last_name" name="last_name">
      <br>
      <label for="email">Email</label>
      <br>
      <input type="text" id="email" name="email">
      <br>
      <label for="phone_number">Phone Number</label>
      <br>
      <input type="text" id="phone_number" name="phone_number" placeholder="9123456789">
      <br>
      <label for="password">Password</label>
      <br>
      <input type="password" id="password" name="password">
      <button type="submit">Sign Up</button>
      
    </form>
    
  </div>
{% endblock %}