<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <style>
        #chat-log {
            overflow-y: scroll;
            height: 350px;
        }
        .container {
            width: 50%;
        }
        .leave {
            margin: 10px;
            margin-bottom: 0px;
        }

    </style>
</head>
<body>
    <br>
    {% if request.user.is_authenticated  %}
    <center>
      <a class="leave" href = "{% url 'logout-user' %}">Logout</a>
      <a class="leave" href="{% url 'index' %}">Back</a>
    </center>
    {% endif %}

    <div class="container">
        <div id="chat-log">
            {% for msg in msgs.all %}
                {% if msg.sender == request.user.username %}
                    <div class="message sender">
                        {{msg.text}}
                    </div>
                {% else %}
                    <div class="message receiver">
                        {{msg.text}}
                    </div>   
                {% endif %}
            {% endfor %}     
        </div>
    </div>

    <div class="inputs">
        <input class = "textinp" id="chat-message-input" type="text" size="100"><br>
        <input class= "btn" id="chat-message-submit" type="button" value="Send">
        {{ room_name | json_script:"room-name" }}
    </div>

    {{ request.user.username | json_script:"username"}}
    <script src="{% static 'reconnecting-websocket.js' %}"></script>

    <script src="{% static 'room.js' %}"></script>
</body>
</html>